@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.inputStyle {
  @apply rounded-lg border border-gray-300 p-2 placeholder:text-gray-400 text-black ;
}

.labelStyle {
  @apply flex items-center gap-2 text-black;
}

.textError {
  @apply text-red-500 text-start;
}

.submitButton {
  @apply px-4 py-2 rounded-lg flex items-center gap-4 bg-linear-to-r from-violet-500 to-blue-500 text-white;
}

.resetButton {
  @apply px-4 py-2 rounded-lg flex items-center gap-4 bg-red-500 text-white;
}

.input-error {
  @apply border-red-500 bg-red-50 focus:ring-2 focus:ring-red-200 ;
}